<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized. We will give an example of the commonly used languaguages and libraies in data science

**Objectives**

* know some commonly used languages in data science
* know some open-source tools used in data science
* know some commonly used libraries in data science
* know how to use and work in jupyter notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. matplotlib
3. tensorflow
4. Pytorch
5. scikit-learn

Three development environment open source tools used in data science.

|Data Science Tools|
|--|
|IBM Watson Studio|
|Jupyter Lab|
|Rstudio|
|Apache Zepplin|

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

x = 200/60
x = round(x,4)

print ("200 minutes is equivalent to", x , "hours")

200 minutes is equivalent to 3.3333 hours

<h2> Author </h2>

Gifty Sam